// -*-mode:javascript-*- vim:ft=javascript

// ~/.hyper.js
// ============================================================================
// Hyper Terminal configuration file.
//
// On Windows, this file will be copied to `$Env:AppData/Hyper/.hyper.js` after
// `chezmoi apply` by the script `./run_hyper.bat.tmpl`.
//
// See https://hyper.is#cfg for all currently supported options.
//
// {{- /* This file supports Go's text/template language. */}}

// TODO: TOADD